*{
    margin: 0;
    padding: 0;
    display: flex;
    background: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    flex-direction: column;
    background: pink;
    padding: ;

}
.title{

    background: yellow;
    m
}